<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	Alucard</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ServelPrincipal</display-name>
		<servlet-name>ServelPrincipal</servlet-name>
		<servlet-class>
		ServelPrincipal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Helloworld</display-name>
		<servlet-name>Helloworld</servlet-name>
		<servlet-class>
		Projeto1.Helloworld</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>lol</display-name>
		<servlet-name>lol</servlet-name>
		<servlet-class>
		Projeto1.lol</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelcomeServlet2</display-name>
		<servlet-name>WelcomeServlet2</servlet-name>
		<servlet-class>
		Projeto1.WelcomeServlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletPrincipal</display-name>
		<servlet-name>ServletPrincipal</servlet-name>
		<servlet-class>
		Projeto1.ServletPrincipal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HelloServlet</display-name>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>
		Projeto1.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServelPrincipal</servlet-name>
		<url-pattern>/MeuServelet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Helloworld</servlet-name>
		<url-pattern>/Helloworld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lol</servlet-name>
		<url-pattern>/lol</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet2</servlet-name>
		<url-pattern>/WelcomeServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletPrincipal</servlet-name>
		<url-pattern>/MeuServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
